###LaTeX###

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

*.pdf


###SublimeText###

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

_minted-Minted

*.auxlock

*.gnuplot

*.dat

*.script

*.md5

*.md5

/Images/plots/TikZ_PGFPlots-figure1.md5

/Images/plots/TikZ_PGFPlots-figure0.md5

/Images/plots/TikZ_PGFPlots-figure1.md5

/Images/plots/TikZ_PGFPlots-figure3.md5

/Images/plots/TikZ_PGFPlots-figure5.md5

/Modello nota di addebito.tex
